<a (click)="consumirServicioAll()">Actualizar</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>PRECIO</th>
      <th>CANTIDAD</th>
      <th>CATEGORIA</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{producto.id}}</td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.precio}}</td>
      <td>{{producto.cantidad}}</td>
      <td>{{producto.categoria.nombre}}</td>
      <td (click)="consumirServicioEliminar(producto.id)">Eliminar</td>
    </tr>
  </tbody>
</table>